<div class="section py-3">
  <div class="container-fluid">
    <div class="row justify-content-center pt-5">
      <div class="col-md-6 text-left">
        <h2 class="title">Meet the humans behind the AI-HED project</h2>
        <p class="lead font-weight-normal">
          Discover the dedicated team working on the AI-HED project, driving innovation and collaboration to transform education with AI.
        </p>
        <a
          href="{{ (site.GetPage "team").RelPermalink }}"
          class="btn btn-info btn-round btn-lg font-weight-bold"
          data-umami-event="click--body-link-about"
        >
          AI-HED Team <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      <div class="col-md-6 text-center">
        <a href="{{ (site.GetPage "team").RelPermalink }}">
          <img
            src="/team/images/vlad-hilitanu-1FI2QAYPa-Y-unsplash.jpg"
            class="w-75 shadow-lg"
            alt="AI-HED team"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</div>